<div class="callout large primary text-center">
  <h3>New User Sign Up</h3>
</div>

<div class="row" id="content">
  <div class="large-6 medium-6 large-centered medium-centered columns">
    <h5>Sign Up:</h5>
    <%= form_for :user, url: users_path, html: {method: :post} do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirm, "Password Confirmation" %>
      <%= f.password_field :password_confirm %>

      <%= f.submit "Sign Up", class: "button large expanded" %>
    <% end %>
  </div>
</div>
